
<h1>Edit Wishes</h1>

<%= form_with(model: @wish, local: true) do |form| %>
    <p>
        <%= form.label :availability %><br>
        <%= form.text_field :availability %>
    </p>
    <p>
        <%= form.label :available_offline %><br>
        <%= form.check_box :available_offline %>
    </p>
    <p>
        <%= form.label :available_online %><br>
        <%= form.check_box :available_online %>
    </p>
    <p>
        <%= form.label :goal %><br>
        <%= form.text_field :goal %>
    </p>
    <p>
        <%= form.label :programminglanguage_id %><br />
        <%= form.collection_select :programminglanguage_id, Programminglanguage.all, :id, :language, :prompt => "Select a prospect" %>
    </p>
    <p>
        <%= form.label :meetingfreq_id %><br />
        <%= form.collection_select :meetingfreq_id, Meetingfreq.all, :id, :interval, :prompt => "Select a prospect" %>
    </p>
    <p>
        <%= form.submit %>
    </p>
    
<% end %>

<%= link_to 'Back', experiences_path %>
