
<p>
    <strong>Availability:</strong>
    <%= @wish.availability%>
</p>
<p>
    <strong>Available Offline:</strong>
    <%= @wish.available_offline %>
</p>
<p>
    <strong>Available Online:</strong>
    <%= @wish.available_online %>
</p>
<p>
    <strong>Goal:</strong>
    <%= @wish.goal%>
</p>
<p>
    <strong>User:</strong>
    <%= @wish.user.first_name %>
</p>
<p>
    <strong>Programming Language:</strong>
    <%= @wish.programminglanguage.language %>
</p>
<p>
    <strong>Meeting Frequency:</strong>
    <%= @wish.meetingfreq.interval%>
</p>



<%= link_to 'Edit', edit_wish_path(@wish) %> 
<%= link_to 'Back', wishes_path %>
