<h1>Edit user</h1>
 
<%= form_with(model: @user, local: true) do |form| %>
 
  <p>
    <%= form.label :first_name %><br>
    <%= form.text_field :first_name%>
  </p>
 
  <p>
    <%= form.label :last_name %><br>
    <%= form.text_area :last_name %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
 
<% end %>
 
<%= link_to 'Back', users_path %>
