<h1>Listing Users</h1>

<table>
    <tr>
        <th>First</th>
        <th>Last</th>
        <th></th>
    </tr>
    
    <% @users.each do |user| %>
        <tr>
            <td><%= user.first_name %></td>
            <td><%= user.last_name %></td>
            <td><%= link_to 'Show', user_path(user) %></td>
            <td><%= link_to 'Edit', edit_user_path(user) %></td>
            <td><%= link_to 'Destroy', user_path(user),
                 method: :delete,
                 data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
</table>
