<h1>New User</h1>


<%= form_with scope: :user, url: users_path, local: true do |form| %>

    
    <p>
        <%= form.label :first_name %><br>
        <%= form.text_area :first_name %>
    </p>
    <p>
        <%= form.label :last_name %><br>
        <%= form.text_area :last_name %>
    </p>
    <p>
        <%= form.label :email %><br>
        <%= form.text_area :email %>
    </p>
    <p>
        <%= form.label :city %><br>
        <%= form.text_area :city %>
    </p>
    <p>
        <%= form.label :mentor %><br>
        <%= form.check_box :mentor %>
    </p>
    <p>
        <%= form.label :mentee %><br>
        <%= form.check_box :mentee %>
    </p>
    
    <p>
        <%= form.submit %>
    </p>
<% end %>

