<p>
  <strong>First Name:</strong>
  <%= @user.first_name %>
</p>
 
<p>
  <strong>Last Name:</strong>
  <%= @user.last_name %>
</p>
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<p>
  <strong>City:</strong>
  <%= @user.city %>
</p>
<p>
  <strong>Mentor:</strong>
  <%= @user.mentor %>
</p>
<p>
  <strong>Mentee:</strong>
  <%= @user.mentee %>
</p>


<h2>Experience</h2>
<% @user.experiences.each do |experience| %>

 
  <p>
    <strong>Field of Interest:</strong>
    <%= experience.field_of_interest %>
  </p>
    <p>
    <strong>Time Spent:</strong>
    <%= experience.time_spent %>
  </p>
       <p>
    <strong>Lang from Database:</strong>
    <%= experience.language&.language %>
  </p>
 
<% end %>

<h2>Add Experience:</h2>
<%= form_with(model: [ @user, @user.experiences.build ], local: true) do |form| %>

  <p>
    <%= form.label :field_of_interest %><br>
    <%= form.text_area :field_of_interest %>
  </p>
   <p>
   <%= form.label :time_spent %><br>
   <%= form.text_area :time_spent %>
  </p>
  <p>
  <%= form.label :language_id %><br />
  <%= form.collection_select :language_id, Language.all, :id, :language, :prompt => "Select a prospect" %>
</p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
 
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>