<h1>New Freq</h1>


<%= form_with scope: :meetingfreq, url: meetingfreqs_path, local: true do |form| %>

    
    <p>
        <%= form.label :interval %><br>
        <%= form.text_area :interval %>
    </p>

    
    <p>
        <%= form.submit %>
    </p>
<% end %>

<%= link_to 'Back', meetingfreqs_path %>
