
<h1>Listing Experiences</h1>
 
<table>
  <tr>
    <th>Language</th>
    <th>Area</th>
     <th>Time Spent</th>
    <th></th>
  </tr>
 

    <% @experiences.each do |experience|%>

    <tr>
       <td><%= experience.programminglanguage&.language %></td>
      <td><%= experience.field_of_interest %></td>
      <td><%= experience.time_spent %></td>
      <td><%= experience.user.first_name %></td>
      <td><%= experience.user.last_name %></td>
      <td><%= link_to 'Show', experience_path(experience) %></td>
      <td><%= link_to 'Edit', edit_experience_path(experience) %></td>
      <td><%= link_to 'Destroy', experience_path(experience),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end%>
</table>
