<h1>New Language</h1>


<%= form_with scope: :language, url: languages_path, local: true do |form| %>

 
  <p>
    <%= form.label :language %><br>
    <%= form.text_area :language %>
  </p>

 
  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Back', languages_path %>
